[Desktop Entry]
Type=Application
Name=JARVIS
Comment=Local AI voice assistant
Exec=@HOME@/.local/bin/jarvis-open
Icon=audio-input-microphone
Terminal=false
Categories=Utility;
Keywords=AI;KI;Assistent;Jarvis;
StartupWMClass=jarvis
